<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        padding: 0;
        margin: 0;
    }
    .main-c{
        max-width: 1024px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
</style>
<body>
    <header style="height: 70px; background-color: darkgreen; display: flex; justify-content: center; align-items: center;">
        <div><span style="font-size: 1.5rem; font-weight: bold; color: white;">Book CRUD UI</span></div>
    </header>
    <div class="main-c">
        <div style="padding: 0.5rem; display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                <button th:onclick="|window.location.href='@{/books}'|">Books</button>
                <button th:onclick="|window.location.href='@{/manage}'|">Manage</button>
            </div>
            <div>
                <form method="post" th:action="@{/logout}">
                    <span style="font-weight: bold; color: blue;" th:text="${email}">Username</span>
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div style="align-self:center;">
            <h1>Access denied!</h1>
        </div>
    </div>
</body>
</html>